* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #0e0e0e, #1c1c1c);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 450px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #4da6ff;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

.search-box button {
    padding: 12px 18px;
    background: #4da6ff;
    border: none;
    color: #000;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.search-box button:hover {
    background: #4da6ff;
}

.weather-card {
    background: #121212;
    padding: 25px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #333;
    transition: 0.3s;
}

.weather-card.hidden {
    display: none;
}

#temperature {
    font-size: 38px;
    margin: 10px 0;
    color: #4da6ff;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
